* main {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;  
  padding: 1rem;           
}
nav a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

main {
  width: 70%;
  padding: 1rem;
}

main img {
  float: right;
  margin-left: 1rem;
  width: 200px;
}

aside {
   width: 20em;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 90px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
}

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

