*{ 
  margin: 0 ;
  padding: 0;
  box-sizing: border-box ;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1   {
    color: steelblue;
    padding: 5rem;
}

main{
  max-width: 600px;
}

main-img {
  width: 150px ;
  height: auto;
  border: 1px solid steelblue ;
  padding:2px ;
  box-shadow:0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
}
aside {
  width: 20em;
  text-align: center;
  position: relative;
} 

aside-img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/* .class .selectors*/
.box {
  margin: 1rem;
  border: 1 px solid rgba(0,0,0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding: left 1rem;
}