 {
margin:0;
padding: 0;
}

body {
    front-family: Airial-sam-serif;
line-height: 1.6;
 }

header, footer {
    background-color:#333 ;
color:#fff ;
padding: 10%;
text-align: center ;
front-size:1.5rem;
}

main{
    width: 400px;
    margin: 0 auto;
}

h1 {
margin: 10px;
text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
width: 100;
height: auto;
box-shadow:0 0 30px #333;
}

section {
    margin: 10px 0;
    border: solid rgb(0 0 0 /10px);
    padding: 10px;
    background-color: #abe;
    front-size: .9rem;
}

section p {
    margin: 10px;
}

u1 {
    margin-left:20px;
}
footer {
front-size:.9rem


}